@media only screen and (min-width:1200px) and (max-width:1920px){}


@media only screen and (min-width:992px) and (max-width:1199px) {
	.logo_img {
    width: 160px;
}
.navbar-nav .nav-item .nav-link {
    padding: 8px 10px;
}
	.social-icon {
    padding-left: 0;
}
.target-block{
		min-height: 365px;
	}
	.contact-block{
		min-height: 266px;
	}
	h1.footer-heading {
    font-size: 35px;
}

}


@media only screen and (min-width:768px) and (max-width:991px) {
	.target-block{
		min-height: 510px;
	}
	.looking-heading{
		font-size: 24px;
	}
	.cont-heading{
		font-size: 30px;
	}
	.social-icon {
    padding-left: 0;
}
.contact-block{
		min-height: 295px;
	}
.carousel-indicators {
    margin-left: 96%;
    top: 42%;
    bottom: 50%;
    transform: translateY(-50%);
}
.sec-title h2{
	font-size: 32px;
}
h1.footer-heading {
    font-size: 35px;
}
.inner-banner {
    padding: 100px 0;
    }

}
@media only screen and (min-width:576px) and (max-width:767px) {
	.social-icon {
    padding-left: 0;
}
.service-box {
    margin-top: 30px;
}
.sec-title h2{
		font-size: 35px;
		margin-top: 20px;
	}
	.footer-top{
		text-align: center;
	}
	.target-block{
		min-height: 200px;
	}
	div#map-carousel{
		text-align: center;
	}
	.carousel-indicators {
     margin-left: 0; 
     top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
}
.corevalue .tab-content {
    position: relative;
    top: 0;
    transform: translateY(0);
    text-align: justify;
}
.slintline{
	display: none;
}
h1.footer-heading {
    font-size: 30px;
}
.inner-banner {
    padding: 80px 0;
    }
}

@media only screen and (min-width:320px) and (max-width:575px) {
	.sec-title h2{
		font-size: 30px;
		margin-top: 20px;
	}
	.about-img .img_1{
		padding: 0;
	}
	.about-us{
		margin-bottom: 30px;
	}
	.explore_list{
		font-size: 15px;
		padding: 0 20px;
	}
	.hr-heading{
		font-size: 17px;
	}
	.cont-heading{
		font-size: 22px;
	}
	div#map-carousel{
		text-align: center;
	}
	.carousel-indicators {
     margin-left: 0; 
     top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
}
.corevalue .tab-content {
    position: relative;
    top: 0;
    transform: translateY(0);
    text-align: justify;
}
.slintline{
	display: none;
}

.accordion .card-header:after{
	margin-right: -10px;
}
.career-heading{
	font-size: 22px !important;
	margin-top: 0 !important;
}
section.inner-banner h1 {
    font-size: 30px;
}
.corevalue{
	margin-top: -70px;
}
.leadership{
margin-top: -40px;
}
h1.footer-heading {
    font-size: 30px;
}
.inner-banner {
    padding: 40px 0;
    }
    .career h4{
    	font-size: 16px;
    }
    form.contact_form {
    margin-top: 30px;
}
}